.modelLayoutContainer {
  margin-top: 4.5rem;
  padding: 0.5rem 2rem;
  width: 100%;
  max-width: 100%;
}
.modelContainer {
  display: flex;
  align-items: start;
  justify-content: center;
}
.categoryListContainer {
  width: 100%;
  max-width: 20%;
  position: relative;
}
.categoriesSection {
  width: 100%;
  max-width: 80%;
  margin-left: 1rem;
  /* background-color: yellow; */
}
.categoryLink {
  text-decoration: none;
  color: var(--nav-text-color);
}

.categoryList {
  position: fixed;
  top: 100px;
  height: 80vh;
  overflow-y: auto;
   /* Firefox */
   /* scrollbar-width: none;       
  -ms-overflow-style: none; */
}

/* Chrome, Safari, Opera */
/* .categoryList::-webkit-scrollbar {
  display: none;                
} */
.categoryList li {
  list-style: none;
  font-size: 0.53rem;
  font-weight: 500;
  font-family: var(--font-albert-sans);
  color: var(--nav-text-color);
  padding: 0.3rem 0rem;
}

.categoryHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryHeader h2 {
  font-family: var(--font-montserrat-alternates);
}
.categoryHeader .searchInput {
  border: 1.5px solid #606060;
  outline: none;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  font-family: var(--font-inter);
  font-size: 0.6rem;
}

.categoryHeader .searchInput::placeholder {
  font-size: 0.6rem;
  font-family: var(--font-inter);
  color: black;
}

.categoryCardContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.categoryCard {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #a1a1a1;
  /* max-width: 220px; */
}
.categoryCardBody {
  padding: 0.2rem 0.5rem;
}
.categoryCard .cardImage {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
.cardTitle {
  font-family: var(--font-montserrat-alternates);
  font-size: 0.8rem;
  font-weight: 700;
}

.cardDescription {
  font-size: 0.7rem;
  font-weight: 500;
  color: #1e1e1e;
  margin: 0.5rem 0;
}

.cardCategory {
  font-size: 0.5rem;
  font-weight: 600;
  color: #1e1e1e;
  background: none;
  border: 1px solid #a1a1a1;
  padding: 0.2rem 0.3rem;
  color: #1e1e1e;
  border-radius: 1rem;
  font-family: var(--font-albert-sans);
}

.reactionContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0.5rem 0;
  margin-bottom: 0.2rem;
  gap: 0.2rem;
}
.reactionImage {
  width: 100%;
  max-width: 15px;
  height: 15px;
  object-fit: contain;
}

.numberReaction {
  font-size: 0.55rem;
  font-weight: 400;
  color: #606060;
  font-family: var(--font-albert-sans);
}

@media screen and (max-width: 1080px) {
  .categoryList li {
    font-size: 0.7rem;
    margin-right: 1rem;
  }

  .categoryCardContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 933px) {
  .categoryList li {
    font-size: 0.7rem;
    margin-right: 1rem;
  }

  .categoryCardContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .modelLayoutContainer {
    margin-top: 3.5rem;
  }
  .modelContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .categoryListContainer {
    max-width: 100%;
    width: 100%;
  }
  
  .categoryList {
    position: fixed;
    top: 70px;
    /* background-color: green; */
    backdrop-filter: blur(10px);
    display: flex;
    gap: 0rem;
    overflow-x: scroll;
    padding: 0 1rem;
    padding-bottom: 0.7rem;

    width: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .myScrollContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .categoryList li {
    font-size: 0.7rem;
     /* flex: 0 0 25%; */
    flex: 0 0 auto; /* make each item take about half the row */
    /* background-color: yellow; */
  }
  .categoryList li:hover {
    color: #F77429;
  }
   .categoryList li:active {
    color: #F77429;
  }


  .categoriesSection {
    max-width: 100%;
    width: 100%;
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .categoryCardContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 440px) {
  .categoryList li {
    font-size: 0.7rem;
    margin-right: 1rem;
  }

  .categoryCardContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 522px) {
  .categoriesSection {
    width: 100%;
  }
  .categoryHeader {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    width: 100%;
  }

  .searchInput {
    width: 400px;
    max-width: 400px;
  }
}

@media screen and (max-width: 460px) {
  .searchInput {
    width: 300px;
    max-width: 300px;
  }
}
